button{
    all: unset;
}

.menuCat {
    background-color: #fda859;
    color: white;

    width: 60%;
    max-width: 70%;

    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%; 

    display: flex;
    /* justify-content: center; */
    font-family: var(--letra-titulo);
    border-radius: 30px;
    padding-top: 2%;
    padding-bottom: 2%;
    /* display: inline-flex; */
    flex-direction: row;

    /* justify-content:space-around; */
    justify-content:space-between;
    align-items: center;
}