.card-generica {
  border-radius: 11px !important;
  margin-left: 5vh;
  margin-top: 10vh;
  background-color: #f99132 !important;
  color: white;
}

.card-InfoUsu {
  border-radius: 11px;
  background-color: #f99132;
  color: white;
}
.mt-extra {
  margin-top: 3rem;
}

@media (min-width: 768px) {
  .mt-extra-md {
    margin-top: 6.5rem; 
  }
}

/* Para pantallas de menos de 768px */
@media (max-width: 767px) {
  .mt-extra-md {
    margin-top: 3rem; 
  }
}

.linea-separadora {
  border-top: 1px solid white;
  margin: 10px 0;
}

.btn-color {
  background-color: #864e1b !important;
  border-color: #864e1b !important;
  font-size: 1.2rem !important;
}

.btn-tam:hover {
  background-color: #864e1b;
}

.my-3 {
  border: 2px solid white;
}

.direccion {
  margin-top: 5px;
}

.btn.agregar {
  border-radius: 30px;
  width: 300px;
}

.tam-icono {
  font-size: 36px;
}
.icono {
  font-size: 30px;
  margin-right: 25px;
}

.mr {
  margin-right: 35px;
}

.bold {
  font-weight: bold;
}

.btn-hover-cuenta:hover{
  background-color: #864e1b ;
}


.sinDecoracion {
  text-decoration: none;
}

.btn-activo {
  background-color: #864e1b;
}
