.bg-footer {
  background-color: var(--main-color);
  margin-top: 100px;
  min-height: 350px;
}

.responsiveFooter{
  margin-bottom: 20px;
}

.social-logo {
  max-width: 25px; /* Ajusta el valor según el tamaño máximo que desees */
  height: auto; /* Para mantener la proporción de aspecto de la imagen */
  margin-bottom: 5px;
}

.social-link {
  text-decoration: none;
  color: white;
}

.social-link:hover {
  color: black;
}

/* Media query para pantallas con ancho máximo de 767px */
@media (max-width: 767px) {

  .responsiveFooter{
    text-align: center !important;
    margin-bottom: 20px;
  }
}
