.estilo-cart-card{
    background-color: var(--input-text) !important;
    border-radius: 11px !important;
    color: white;
    margin: 0;
    /* width: 80%; */
    /* margin-left: 5vh;
    margin-top: 10vh; */
}

.total-product-price{
    font-family: var(--letra-inputs);
    padding: 8px;
    background-color: var(--btn-color);
    border-radius: 11px;
}

/* --letra-titulo: "Alfa Slab One", cursive;
--letra-btn: "ABeeZee", sans-serif;
--letra-inputs: "Varela Round", sans-serif; */