.estilo-cart-card{
    background-color: var(--input-text) !important;
    border-radius: 11px !important;
    color: white;
    margin: 0;
    /* width: 80%; */
    /* margin-left: 5vh;
    margin-top: 10vh; */
}

.cart-total-product-price{
    font-size: 1.2rem;
    font-family: var(--letra-inputs);
    padding: 8px;
    background-color: var(--btn-color);
    border-radius: 11px;
}

.cart-product-price{
    font-family: var(--letra-inputs);
    font-size: 1.2rem;
}

.cart-denominacion{
    font-size: 1.2rem;
    font-family: var(--letra-titulo);
}

.bg-cart-cancel-btn{
    font-size: 1.3rem;
    font-weight: bold;

    border-radius: 11px;
    padding-left: 17px; 
    padding-right: 17px;
    padding-top: 11px;
    padding-bottom: 11px;
    color: white;
    background-color: var(--red-color)
}

.bg-cart-cant{
    background-color: var(--main-color);
    border-radius: 0.6rem;
}

/* --letra-titulo: "Alfa Slab One", cursive;
--letra-btn: "ABeeZee", sans-serif;
--letra-inputs: "Varela Round", sans-serif; */