.direccion-container {
    margin-bottom: 10px;
  }
  
  .ubicacion {
    margin-right: 5px;
  }
  
  .direccion-texto {
    text-align: center; 
    font-size: large;
  }

  .btn-margen{
    margin: 0.625em;
  }

  @media (max-width: 768px) {
    .btn-margen {
      margin: 0 0.25em 0 0.25em; 
    }
  }

  @media (max-width: 768px) {
    .contenedor-cel {
    
      display: flex; 
    }
  }  

  .btn-color-dir{
    background-color: #864e1b !important;
  }



  .btn-color-direccion{    
      background-color: #864e1b !important;
      font-size: 1.2rem !important;
  }

  .btn-color-direccion:hover{    
    background-color: #FDA859 !important;
}

  .card-direcciones{
    border-radius: 11px !important;
    background-color:  #f99132 !important;
    color: white;
  }

  .scrollable-container {
    max-height: 32rem !important; 
    overflow-y: auto;
  }

  .mt-6 {
    margin-top: 6rem !important;
  }