.btn.modal-usuario{
    border-radius: 30px !important;
    background-color: #864E1B;    
}


.btn.modal-usuario:hover{

  background-color: #FDA859;    
}



.modal-infoUsu{
    background-color: #F99132 !important;
}

.form-control{
    background-color: #FDA859 !important;
}

.bold{
    font-weight: bold
}

.parrafo{
    margin-top: 10px;
}

.altura{
    width: 25vh;
}
.close{
    background-color: #F99132;
    border: none;
}
.modal-footer {
    border: none !important;
}



.btn.eliminar{
    border-radius: 30px !important;
    background-color: #864E1B !important;   
    width: 10vh;
}

.eliminar:hover{
    background-color:  #fda859 !important;
}

.btn.enviar{
    border-radius: 30px ;
    background-color: #864E1B ;   

}

.btn.enviar:hover{
  background-color:  #fda859 !important;
}

.close {
    position: absolute;
    bottom: 0px; 
    right: 10px;
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
  }
  

  .modal-header {
    position: relative;
    text-align: center;
  }
  
  .modal-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    margin: 0;
    top: 1px; 
  }
  
  .modal-body {
    display: flex;
    flex-direction: column;
  }
  
  .pedido-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid white;
  }
  
  .pedido-item img {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
  }
  
  .denominacion {
    font-weight: bold;
  }
  
  .pedido-item-derecho {
    margin-left: 1rem;
  }
  
  .contenedor-derecho {
    display: flex;
  }
  
  .texto-blanco {
    color: white;
    font-weight: bold;
  }
  
  .btn.modal-pedido {
    border-radius: 30px;
    background-color: #864E1B;
    color: white;
  
    margin: 1vh 1vh 3vh 1vh;
  }

  @media (min-width: 768px) {
    .btn.modal-pedido {
      width: 15vh;
    }
  }
 
  .modal-overlay {
    background-color: rgba(0, 0, 0, 0.6); /* Ajusta la opacidad según tus preferencias (0.6 en este ejemplo) */
  }

  .modal-pedido:hover {
    background-color: #fda859 !important;
  }
  
.contedorBotonesContraseña{
  padding-top: 1rem;
}

.centrado{
  padding: 1.5rem 1.5rem;
}

.card-generica {
  border-radius: 11px !important;
  margin-left: 5vh;
  margin-top: 10vh;
  background-color: #f99132 !important;
  color: white;
}

.card-modalPedido {
  border-radius: 11px !important;
  background-color: #f99132 !important;
  color: white;
}

.modal-confirmarCambios{
  border-radius: 11px ;
  background-color: #f99132 !important;
  color: white;
}

.imagenes-pedidos-usuario{
  border-radius: 15%;
  width: 5rem !important; 
  height: 5rem !important; 
  object-fit: cover;
  flex-shrink: 0; 
}

.centrado-denominacion {
  text-align: center; 
}

@media (max-width: 576px) {
  /* Estilos específicos para pantallas pequeñas */
  .modal-dialog {
    max-width: 80%;
  }
}