/* Estilos de la ventana modal */
.overlayModalProduct {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedorModalProduct {
  width: 40%;
  min-height: 100px;
  max-width: 650px;
  background-color: var(--main-color);
  color: white;

  position: relative;
  border-radius: 20px;
  /* box-shadow: ; */
  padding: 1rem;
}
/* --------------------------- */
/* Estilos para la imagen del producto */
.imgModalProduct {
  width: 100%;
  border-radius: 5px;
  /* max-width: 600px; */
}
/* ---------------------------- */
/* Estilos para el precio del producto */
.productPrice {
  background-color: var(--btn-color-light);
  padding: 7px;
  border-radius: 10px;
}
/* ---------------------------- */
/* Donde se coloca el nombre del producto */
.product-name {
  display: flex;
  justify-content: center;
  width: 80%;
  text-align: center;
}

.product-name h2 {
  font-family: var(--letra-titulo);
}
/* ---------------------------- */
/* Boton para cerrar la ventana modal */
.btn-container {
  width: 10%;
}

.btn-go-back {
  background-color: var(--btn-color-light) !important;
}
.btn-go-back:hover {
  background-color: var(--btn-color-light) !important;
}
/* ---------------------------- */
/* Boton de agregar al carrito */
.btn-add-cart {
  background-color: var(--green-color) !important;
  color: white !important;
  align-items: end;
  font-family: var(--letra-btn) !important;
}

.btn-add-cart:hover {
  background-color: var(--green-color-light) !important;
}

.cart-icon {
  margin-left: 5px;
}
/* ---------------------------- */
/* Boton de agregar a favoritos */
.btn-fav {
  background-color: rgba(0, 0, 0, 0);
  margin: 10px;
}
.btn-fav-icon {
  width: 35px;
}
/* ---------------------------- */
/* Seccion para agregar o restar productos */
.bg-cant {
  background-color: var(--secondary-btn-color-light) !important;
  border-radius: 0.6rem;
}

.bg-cant-btn {
  font-size: 2rem;
  font-weight: bold;
  border-radius: 11px;
  padding-left: 10px;
  padding-right: 10px;

  background-color: var(--btn-color-light);
  color: white ;
}
.cant-btn-resta{
  padding-left: 14px !important;
  padding-right: 14px !important;
}
.bg-cant-btn:disabled{
  pointer-events: none;
  opacity: 0.6;
}
/* ---------------------------- */

/* Cuando la pantalla tenga una anchura de 992px o menos */
@media (max-width: 992px) {
  .contenedorModalProduct {
    width: 55%;
  }
}

/* Cuando la pantalla tenga una anchura de 767px o menos */
@media (max-width: 767px) {
  .contenedorModalProduct {
    width: 65%;
  }
}

/* Cuando la pantalla tenga una anchura de 767px o menos */
@media (max-width: 575px) {
  .contenedorModalProduct {
    width: 90%;
  }
}

/* Si la pantalla tiene una altura inferior a 750px, Detalle producto se hace scrolleable */
@media (max-height: 750px) { 
  .contenedorModalProduct {
    max-height: 90vh;
    overflow-y: auto;
  }
}
