:root {
  --letra-titulo: "Alfa Slab One", cursive;
  --letra-btn: "ABeeZee", sans-serif;
  --letra-inputs: "Varela Round", sans-serif;
  --font-size: 16px;
  --main-color: #f99132;
  --input-text: #fda859;
  --btn-color: #864e1b;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../Assets/Background40Opacity.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}

/* nav bar */

.headerLogo {
  background-color: var(--main-color);
  display: flex;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  position: sticky;
}

.headerLogo .logo img {
  height: 70px;
  width: auto;
}

.btnIngresoNav {
  background: var(--btn-color);
  border-radius: 30px;
  border: 0;
  padding: 15px 35px;
  margin-right: 3rem;
  cursor: pointer;
  color: #ffff;
}



/* Estilos de login */

.login-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
}

.loginLinkRegister{
    text-decoration: none;
    color: #fff;
}

.conteinerLogin {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: auto;
  margin-top: 10%;
  align-items: center;
  background: var(--main-color);
  justify-content: center;
  border-radius: 11px;
}

.conteinerLogin h1 {
  margin: 50px;
  color: #fff;
}

.conteinerLogin a {
  margin-bottom: 25px;
}

.inputs {
  background-color: var(--input-text);
  border-radius: 30px;
  padding: 10px;
  width: 60%;
  margin: 10px;
  border: 0;
  text-align: center;
  margin-top: 15px;
}

.inputs::placeholder{
    color: #fff;
}

.btnLogin {
  padding: 10px 25px;
  margin-top: 25px;
  width: 40%;
  margin-bottom: 1rem;
  cursor: pointer;
  color: #fff;
  background: var(--btn-color);
  border-radius: 30px;
  border: 0;
}


/* Estilos boton de google */

 
  .actions .btn-google{
   margin-bottom: 30px;
    padding: 10px 35px;
    background-color: #fff;
    cursor: pointer;
    color: #000;
    border-radius: 30px;
    margin-top: 10px;
    border: 0;
    font-family: var(--letra-inputs);
    font-weight: bold;
  }

  .actions .btn-google .icon img{
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    object-fit: contain;
    
    margin-right: 5px;
  }

/*------------------------------------------ MAIN PAGE ---------------------------------------------*/
  .imgContainer{
    object-fit: contain;
  }

.imgMain{
    margin: 0;
    width: 100%;
    max-height: 30%;
    position: absolute;
    left: 0px;
    right: 0px;
    
  }

  .logoMain {
    position:relative;
    width: 40%;
    height: 20%;

    display: block;
    margin-left: auto;
  margin-right: auto;
    padding: 5px;
}
  
.inputColor{
  font-family: var(--letra-inputs);
  background-color: #fda859;
  color: white;
  margin-left: 5%;
}

.menuCat {
  background-color: #fda859;
  color: white;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
  font-family: var(--letra-titulo);
  border-radius: 30px;
  padding-top: 2%;
  padding-bottom: 2%;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.btnPag {
  border-radius: 100px;
  background-color: #864e1b;
  color: white;
  cursor: pointer;
  border: 0;
}

.containerMain {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  justify-content: center;
  font-family: var(--letra-titulo);
  flex-direction: column;
  
  
}

.containerCards {
  display: flex;
  justify-content: center;
  display: inline-flex;
  flex-direction: row;
  margin-bottom: 3%;

}

.cardNew {
  background-color: #f99132;
  border-radius: 11px;
  color: white;
  border: 0;
  padding: auto;
  margin-left: 1%;
  margin-right: 1%;
  position: relative;
}

.imgCard {
  border-radius: 11px;
  margin-left: 2%;
  margin-right :2%;
  margin-top: 2%;
  margin-bottom: 2%;
  max-width: 90%
}

.bottom-left {
  margin-left: 2%;
  position: absolute;
  bottom: 20px;
  left: 10px;
  text-size-adjust: auto;
  font-size: 23px;
}

.centerTitle{
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 90%;               
  height: 3px;
  margin-top: 2%;
  border: 2px;
  background-color:#864e1b;
  color:#864e1b
}

.container-cat{
  border-radius: 11px;
  background-color: #f99132;
  display: flex;
  justify-content: center;
  display: inline-flex;
  flex-direction: column;

}

.colorMain {
  background-color: var(--input-text);
  position: relative;
}

.secondary-text{
  color: white;
  font-family: var(--letra-btn);
  font-weight: lighter;
}

.margin-text{
  margin-left: 2%;
  margin-bottom: 2%;
}

.shopping {
  position:absolute;
  bottom:3%;
  right: 3%;
}